In [1]:
# EJERCICIO 1

In [17]:
name = input('Introduce tu nombre: ')
for i in range(10):
    print(name)

Introduce tu nombre: pefe
pefe
pefe
pefe
pefe
pefe
pefe
pefe
pefe
pefe
pefe

In [2]:
# EJERCICIO 2

In [20]:
age = int(input('Introduce tu edad: '))
for i in range(1, age):
    print(i)

Introduce tu edad: 5
1
2
3
4
5

In [3]:
# EJERCICIO 3

In [78]:
num = int(input('Introduce un número: '))

for i in range (1,(num+1), 2):
    if i == 1:
        print(f'{i}',end='')
    else:
         print(f',{i}', end='')

Introduce un número: 9
1,3,5,7,9

In [4]:
# EJERCICIO 4

In [81]:
num = int(input('Introduce un número: '))
for i in range(num, -1, -1):
    if i == num:
        print(i, end='')
    else:
        print(f',{i}', end='')

Introduce un número: 9
9,8,7,6,5,4,3,2,1,0

In [5]:
# EJERCICIO 5

In [94]:
quantity = float(input('Introduce cantidad a invertir: '))
interest = float(input('Introduce tipo de interes: '))
years = int(input('Introduce cantidad de años: '))

for i in range(years):
    benefit = interest * quantity/100
    quantity = quantity + benefit
    print(f'En el año {i + 1} se ha obtenido {benefit:.2f}€ de beneficio')

Introduce cantidad a invertir: 100
Introduce tipo de interes: 5
Introduce cantidad de años: 5
En el año 1 ha obtenido 5.00 €
En el año 2 ha obtenido 5.25 €
En el año 3 ha obtenido 5.51 €
En el año 4 ha obtenido 5.79 €
En el año 5 ha obtenido 6.08 €

In [6]:
# EJERCICIO 6

In [36]:
num = int(input('Introduce un número: '))
aster ='*'
for i in range(num):
    print(aster)
    aster += '*'

Introduce un número: 6
*
**
***
****
*****
******

In [7]:
# EJERCICIO 7

In [2]:
for table1 in range(1, 11):
    for table2 in range(1, 11):
        result = table1 * table2
        print(f'{table1} * {table2} = {result}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [8]:
# EJERCICIO 8

In [1]:
num = int(input('Introduce un número: '))

if num % 2 == 1:
    for i in range(1, num, 2):
        for j in range(i, 0, -2):
            print(j, end=' ')
        print()
else:
    num + 1 
    for i in range(1, num, 2):
        for j in range(i, 0, -2):
            print(j, end=' ')
        print()

Introduce un número: 9
1
3 1
5 3 1
7 5 3 1

In [9]:
# EJERCICIO 9

In [87]:
while (password := input('Introduce una contraseña ')) != 'contraseña':
    print('Contraseña incorrecta')
print('Contraseña Correcta')

Introduce la contraseña: patat
Introduce la contraseña: adalovelace
Introduce la contraseña: password

In [10]:
# EJERCICIO 10

In [50]:
num = int(input('Introduce un número: '))

if num % 2 != 0:
    print(f'El número primo es correcto: ', num)
else:
    print('No es un número primo')

Introduce un número: 6
No es un número primo

In [12]:
# EJERCICIO 11

In [84]:
word = input('Introduce una palabra/frase: ')
invert_word = word[::-1]
for i in invert_word:
    print(i)

Introduce una palabrahola como estamos

s
o
m
a
t
s
e

o
m
o
c

a
l
o
h

In [13]:
# EJERCICIO 12

In [62]:
phrase = input('Introduce un frase: ')
letter = input('Introduce una letra: ')
count = 0
for i in phrase:  
    if letter == i:
        count += 1
print(f'La letra {letter.upper()} aparece un total de {count} veces')

Introduce un frase: holaqueatal
Introduce una letra: a
La letra A aparece un total de 3

In [14]:
# EJERCICIO 13

In [67]:
while word := input('Introduce texto (escribir "salir" para parar del programa)') != 'salir':
    print(word)
print('Ha salido con éxito')

Introduzca una frase, (indicar "salir" para cerrar programa): hola
hola
Introduzca una frase, (indicar "salir" para cerrar programa): como
como
Introduzca una frase, (indicar "salir" para cerrar programa): va
va
Introduzca una frase, (indicar "salir" para cerrar programa): salir
salir